// **** VARIABLES **** //
// =================== //

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&family=Roboto:wght@700&display=swap');


// Main / txt colors
$dark : #2E2E2E;
$light : #fff;

// background colors
$extra-light-Blue :  #F7F8FF;
$light-Blue :  #8C9EFC;
$middle-Blue :  #424D83;
$dark-Blue :  #384170;

// Dimensions / Position
$radius: 5px;